* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body_std {
    display: flex;
    flex-direction: row;
}
.maincontainer_std {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.maincontheader_std {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.statistics {
    width: 200px;
    height: 100px;
    box-shadow: 0 0 5px rgba(2,55,117,0.8);
    border-radius: 7px;
    background: rgba(2,55,117,0.8);
}
.statisnum {
    display: block;
    font-size: 50px;
    text-align: right;
    padding: 0 20px;
    color: white;
}
.statistext {
    display: block;
    font-size: 15px;
    text-align: left;
    padding: 0 20px;
    color: white;
}
.maincontsection_std {
    display: flex;
    flex-direction: column;
}
.buttons_std {
    margin: 30px;
}
.buttonstyle {
    width: 205px;
    height: 48px;
    padding: 14px 20px;
    color: #fff;
    border-color: #5472d2;
    background-color: #5472d2;
    border: 1px solid;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.buttonstyle:hover {
    color: #f7f7f7;
    border-color: #3c5ecc;
    background-color: #3c5ecc;
}
.student-table {
    width: 1000px;
}
.student-table,tr,th,td {
    border: 1px solid #7a7a7a;
    margin: 30px;
    border-collapse: collapse;
    padding: 10px 10px;
}
.headrow_value, .totalday{
    color: rgb(2,55,117);
}
hr {
    height: 1px;
    color: rgba(2,55,117,0.5);;
    background-color: rgba(2,55,117,0.5);;
    border: none;
}
.feri {
    background-color: green;
    color: white;
}
.feri2 {
    background-color: red;
    color: white;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }